@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Rock+Salt&family=Russo+One&display=swap');

:root {
    --white: #FFFFFF;
    --dark-blue: #013E9D;
    --yellow: #FFF901;
    --black: #000000;
    --light-blue: #0493FD;
    --blue: #0360CF;
    --dark-yellow: #FFB703;
    --orange: #FB8500;
    --font-roboto: 'Roboto Slab', serif;
    --font-rock: 'Rock Salt', cursive;
    --font-russo: 'Russo One', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

*body {
    font-family: var(--font-roboto);
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-black);
    font-size: 1.3rem;
}

a:hover {
    color: var(--light-blue);
    font-size: 1.8rem;
    transition: 0.7s;
}

/********* NAVIGATION BAR *********/

header {  
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    width: 95px;
    height: auto;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: 500;
}

.navbar .toggle_btn {
    color: var(--black);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .toggle_btn:hover {
    color: var(--blue);
}

.navbar .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(120, 156, 204);
    margin-left: 0.5rem;
}

.navbar .socials a #instagram {
    font-size: 1.5rem;
    color: rgb(230, 112, 171);
    margin-left: 0.5rem;
}

.navbar .socials a #youtube {
    font-size: 1.5rem;
    color: rgb(248, 52, 26);
    margin-left: 0.5rem;
}

.navbar .socials a:hover #facebook,
.navbar .socials a:hover #youtube,
.navbar .socials a:hover #instagram {
    color: var(--blue);
    font-size: 2rem;
    transition: 0.4s;
}

.dropdown_menu .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(120, 156, 204);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #instagram {
    font-size: 1.5rem;
    color: rgb(231, 96, 164);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #youtube {
    font-size: 1.5rem;
    color: rgb(245, 85, 64);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a:hover #facebook,
.dropdown_menu .socials a:hover #youtube,
.dropdown_menu .socials a:hover #instagram {
    color: var(--orange);
    font-size: 2rem;
    transition: 0.4s;
}

/********* DROPDOWN MENU *********/

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    height: 0;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

/********* HERO SECTION *********/
#hero {
    height: 100vh;
    background-image: url(../images/background-3.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hero .container .leftDiv {
    height: 400px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero .container .rightDiv {
    width: 45%;
}

.leftDiv .welcome {
    font-family: var(--font-rock);
    font-size: 3rem;
    
}

.leftDiv .org_name {
    font-family: var(--font-russo);
    font-size: 128px;
    margin-top: 0px;
}

.leftDiv .org_subname {
    font-family: var(--font-roboto);
    font-size: 32px;
    margin-top: 0px;
    text-align: center;
}

.leftDiv .content {
    font-family: var(--font-roboto);
    margin-top: 5rem;
    text-align: center;
    font-size: 1.2rem;
}

.leftDiv .buttons {
    margin-top: 5rem;
}

.leftDiv .buttons #join_btn {
    border: 2px solid var(--orange);
    padding: 1rem 5rem;
    border-radius: 100px;
    color: var(--orange);
    font-family: var(--font-roboto);
    font-size: 1.5rem;
    margin-right: 3rem;
}

.leftDiv .buttons #join_btn:hover {
    background-color: var(--orange);
    color: var(--white);
}

.leftDiv .buttons #contact_btn {
    border: 2px solid var(--orange);
    background-color: var(--orange);
    padding: 1rem 5rem;
    border-radius: 100px;
    color: var(--white);
    font-family: var(--font-roboto);
    font-size: 1.5rem;
}

.leftDiv .buttons #contact_btn:hover {
    background-color: transparent;
    color: var(--orange);
}

/********* ABOUT US SECTION *********/
#about {
    height: 100vh;
    background-image: url(../images/background-2.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

#about .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}

#about .container .title {
    color: var(--white);
    font-family: var(--font-russo);
    font-size: 3rem;
}

#about .container .subtitle {
    color: var(--yellow);
    font-family: var(--font-rock);
    font-size: 1.3rem;
}

#about .container .about_content {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.about_leftDiv {
    width: 48%;
    height: 400px;
    padding: 0 2rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about_leftDiv .about_title {
    color: var(--white);
    font-family: var(--font-roboto);
    font-size: 3rem;
    font-weight: 400;
    margin: 0 0 4rem 0;
}

.about_leftDiv .content {
    color: var(--white);
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    margin: 0 0 2rem 0;
}

.about_leftDiv .icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.about_leftDiv .icons img {
    width: 75px;
    cursor: pointer;
}

.about_leftDiv .button {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about_leftDiv .button .read_btn {
    border: 2px solid var(--yellow);
    padding: 1rem 2rem;
    width: 40%;
    border-radius: 100px;
    color: var(--yellow);
    display: flex;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.about_leftDiv .button .read_btn:hover {
    background-color: var(--yellow);
    font-size: 1rem;
    color: var(--dark-blue);
}

.about_rightDiv {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_rightDiv img {
    width: 587px;
    height: 660px;
}

/********* EVENTS SECTION *********/
#events {
    height: 100vh;
    background-image: url(../images/background-4.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/********* CONTACT US SECTION *********/
#contact {
    height: 100vh;
    background-image: url(../images/background-1.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}









/********** RESPONSIVENESS STYLE *************/
@media (max-width: 1669px) {
    #hero .container .rightDiv {
        width: 35%;
    }

    .leftDiv .welcome {
        font-size: 2rem;
    }

    .leftDiv .org_name {
        font-size: 5rem;
    }

    .leftDiv .org_subname {
        font-size: 1.5rem;
    }

    .leftDiv .content {
        font-size: 1rem;
    }

    .leftDiv .buttons #join_btn {
        margin-right: 1rem;
    }

    .about_rightDiv img {
        width: 500px;
    }

}

@media (max-width: 1440px) {

    .leftDiv .org_subname {
        font-size: 1.2rem;
    }

    .leftDiv .buttons #join_btn {
        margin-right: 1rem;
        padding: 1rem 2rem;
    }

    .leftDiv .buttons #contact_btn {
        padding: 1rem 2rem;
    }

}

@media (max-width: 1320px) {
    .about_rightDiv img {
        width: 400px;
        height: 590px;
    }

    .about_leftDiv .about_title {
        font-size: 2.5rem;
    }

    .about_leftDiv .button .read_btn {
        font-size: 1rem;
    }
}

@media (max-width: 1210px) {

    #hero .container .leftDiv {
        width: 100%;
        padding: 3rem;
    }

    .leftDiv .org_name {
        font-size: 6rem;
    }

    .leftDiv .org_subname {
        font-size: 1.5rem;
    }

    .leftDiv .content {
        font-size: 1rem;
    }

}

@media (max-width: 1150px) {
    .about_leftDiv .about_title {
        font-size: 2rem;
    }

    .about_leftDiv .content {
        font-size: 0.9rem;
    }

    .about_leftDiv .icons img {
        width: 50px;
    }
}

@media (max-width: 992px) {
    /********* TABLET *********/
    .navbar .links, .navbar .socials {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    #hero .container .leftDiv {
        width: 100%;
    }

    #hero .container .rightDiv {
       display: none;
    }

    .leftDiv .org_name {
        font-size: 5rem;
    }

    .leftDiv .org_subname {
        font-size: 1.5rem;
    }

    .leftDiv .content {
        font-size: 1rem;
    }

    #about {
        height: 100%;
    }

    #about .container .subtitle {
        color: var(--orange);
    }

    #about .container .about_content {
        flex-direction: column-reverse;
    }

    .about_leftDiv {
        width: 100%;
        align-items: center;
        padding: 3rem 5rem;
    }

    .about_leftDiv .about_title {
        margin: 0 0 2rem 0;
    }

    .about_leftDiv .icons {
        justify-content: center;
        gap: 2rem;
    }

    .about_leftDiv .button .read_btn {
        width: 30%;
    }

    .about_rightDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_rightDiv img {
        width: 387px;
        height: 460px;
    }
}

@media (max-width: 694px) { 
    .leftDiv .org_name {
        font-size: 4rem;
    }

    .leftDiv .org_subname {
        font-size: 1rem;
    }
}

@media (max-width: 576px) { 
    /********* PHONE *********/
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .leftDiv .welcome {
        font-size: 1.3rem;
    }

    .leftDiv .org_name {
        font-size: 2.5rem;
    }

    .leftDiv .org_subname {
        font-size: 1rem;
    }

    .leftDiv .content {
        font-size: 0.9rem;
    }

    .leftDiv .buttons #join_btn {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    .leftDiv .buttons #contact_btn {
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    #about {
        overflow-x: hidden;
    }

    #about .container .title {
        font-size: 2rem;
    }

    #about .container .subtitle {
        font-size: 1rem;
        color: var(--orange);
    }

    #about .container .about_content {
        align-items: center;
    }

    .about_leftDiv {
        width: 85%;
        justify-content: center;
    }

    .about_leftDiv .about_title {
        font-size: 1.5rem;
    }

    .about_leftDiv {
        padding: 0;

    }

    .about_leftDiv .content {
        text-align: center;
    }
    
    .about_leftDiv .icons {
        gap: 0;
    }

    .about_leftDiv .button .read_btn {
        width: 50%;
        font-size: 0.9rem;
    }

    .about_rightDiv {
        width: 85%;
    }

    .about_rightDiv img {
        width: 187px;
        height: 260px;
    }
}