@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Rock+Salt&family=Russo+One&display=swap');

:root {
    --white: #FFFFFF;
    --dark-blue: #013E9D;
    --yellow: #FFF901;
    --black: #000000;
    --light-blue: #0493FD;
    --blue: #0360CF;
    --dark-yellow: #FFB703;
    --orange: #FB8500;
    --font-roboto: 'Roboto Slab', serif;
    --font-rock: 'Rock Salt', cursive;
    --font-russo: 'Russo One', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

*body {
    font-family: var(--font-roboto);
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-black);
    font-size: 1.3rem;
}

a:hover {
    color: var(--light-blue);
    font-size: 1.8rem;
    transition: 0.7s;
}

/********* NAVIGATION BAR *********/

header {  
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    width: 95px;
    height: auto;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: 500;
}

.navbar .toggle_btn {
    color: var(--black);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .toggle_btn:hover {
    color: var(--blue);
}

.navbar .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(120, 156, 204);
    margin-left: 0.5rem;
}

.navbar .socials a #instagram {
    font-size: 1.5rem;
    color: rgb(230, 112, 171);
    margin-left: 0.5rem;
}

.navbar .socials a #youtube {
    font-size: 1.5rem;
    color: rgb(248, 52, 26);
    margin-left: 0.5rem;
}

.navbar .socials a:hover #facebook,
.navbar .socials a:hover #youtube,
.navbar .socials a:hover #instagram {
    color: var(--blue);
    font-size: 2rem;
    transition: 0.4s;
}

.dropdown_menu .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(120, 156, 204);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #instagram {
    font-size: 1.5rem;
    color: rgb(231, 96, 164);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #youtube {
    font-size: 1.5rem;
    color: rgb(245, 85, 64);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a:hover #facebook,
.dropdown_menu .socials a:hover #youtube,
.dropdown_menu .socials a:hover #instagram {
    color: var(--orange);
    font-size: 2rem;
    transition: 0.4s;
}

/********* DROPDOWN MENU *********/

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    height: 0;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 260px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

/********* HERO SECTION *********/
#hero {
    height: 100vh;
    background-image: url(../images/background-3.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hero .container .leftDiv {
    height: 400px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero .container .rightDiv {
    width: 45%;
}

.leftDiv .welcome {
    font-family: var(--font-rock);
    font-size: 3rem;
    
}

.leftDiv .org_name {
    font-family: var(--font-russo);
    font-size: 128px;
    margin-top: 0px;
}

.leftDiv .org_subname {
    font-family: var(--font-roboto);
    font-size: 32px;
    margin-top: 0px;
    text-align: center;
}

.leftDiv .content {
    font-family: var(--font-roboto);
    margin-top: 5rem;
    text-align: center;
    font-size: 1.2rem;
}

.leftDiv .buttons {
    margin-top: 5rem;
}

.leftDiv .buttons #join_btn {
    border: 2px solid var(--dark-blue);
    padding: 1rem 5rem;
    border-radius: 100px;
    color: var(--dark-blue);
    font-family: var(--font-roboto);
    font-size: 1.5rem;
    margin-right: 3rem;
}

.leftDiv .buttons #join_btn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.leftDiv .buttons #contact_btn {
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    padding: 1rem 5rem;
    border-radius: 100px;
    color: var(--white);
    font-family: var(--font-roboto);
    font-size: 1.5rem;
}

.leftDiv .buttons #contact_btn:hover {
    background-color: transparent;
    color: var(--dark-blue);
}

/********* ABOUT US SECTION *********/
#about {
    height: 100vh;
    background-image: url(../images/background-2.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

#about .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
}

#about .container .title {
    color: var(--white);
    font-family: var(--font-russo);
    font-size: 3rem;
}

#about .container .subtitle {
    color: var(--yellow);
    font-family: var(--font-rock);
    font-size: 1.3rem;
}

#about .container .about_content {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.about_leftDiv {
    width: 48%;
    height: 400px;
    padding: 0 2rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about_leftDiv .about_title {
    color: var(--white);
    font-family: var(--font-roboto);
    font-size: 3rem;
    font-weight: 400;
    margin: 0 0 4rem 0;
}

.about_leftDiv .content {
    color: var(--white);
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    margin: 0 0 2rem 0;
}

.about_leftDiv .icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.about_leftDiv .icons img {
    width: 75px;
    cursor: pointer;
}

.about_leftDiv .button {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about_leftDiv .button .read_btn {
    border: 2px solid var(--yellow);
    padding: 1rem 2rem;
    width: 40%;
    border-radius: 100px;
    color: var(--yellow);
    display: flex;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.about_leftDiv .button .read_btn:hover {
    background-color: var(--yellow);
    font-size: 1rem;
    color: var(--dark-blue);
}

.about_rightDiv {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_rightDiv img {
    width: 587px;
    height: 600px;
}

/********* EVENTS SECTION *********/
#events {
    height: 100%;
    background-image: url(../images/background-4.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow-x: hidden;
}

#events .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#events .container .title {
    color: var(--dark-blue);
    font-family: var(--font-russo);
    font-size: 3rem;
    margin-top: 2rem;
}

#events .container .subtitle {
    color: var(--blue);
    font-family: var(--font-rock);
    font-size: 1.3rem;
}

#events .container .events {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem 0;
}

#events .container .events .event {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#events .container .events .event:nth-child(-n + 3) {
  flex-basis: calc(33.33% - 2rem);
  margin-bottom: 2rem;
}

#events .container .events .event:nth-child(n + 4) {
  flex-basis: calc(33.33% - 2rem);
}

.events .event img{
    width: 550px;
    height: 400px;
}

.events .event .event_title {
    color: var(--dark-blue);
    font-family: var(--font-russo);
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0;
}

.events .event .event_desc {
    color: var(--dark-blue);
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-size: 400;
}

.events .event .event_readBtn {
    color: var(--black);
    margin: 2rem 0;
    font-size: 1.3rem;
}

.events .event .event_readBtn:hover {
    color: var(--orange);
    font-size: 1.3rem;
}

/********* CONTACT US SECTION *********/
#contact {
    height: 100vh;
    background-image: url(../images/background-1.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .container .contact_title {
    color: var(--white);
    font-size: 3rem;
    font-family: var(--font-russo);
    margin: 2rem 0 0 0;
}

#contact .container .contact_subtitle {
    color: var(--yellow);
    font-family: var(--font-rock);
    font-size: 1.3rem;
}

.contact_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 4rem;
}

.contact_leftDiv {
    flex: 0.5;
}

.contact_buttons .contact_btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    margin-right: 5rem;
}

.contact_buttons .contact_btn h3 {
    color: var(--black);
    display: none;
}

.contact_buttons .contact_btn:hover h3 {
    display: block;
}

.fa-solid.fa-location-dot,
.fa-solid.fa-phone,
.fa-solid.fa-envelope, 
.fa-brands.fa-facebook.contact_icons, 
.fa-brands.fa-facebook-messenger {
    color: var(--dark-yellow);
    font-size: 2rem;
    background-color: var(--dark-blue);
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 1rem 0;
}

.contact_rightDiv {
    flex: 1;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 2px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  font-size: 0.8rem;
  font-family: var(--font-roboto);
  color: var(--white);
}

form input {
    height: 60px;
}

form textarea {
    height: 360px;
}

::placeholder {
    color: var(--white);
    opacity: 1;
}

form .submit_btn {
    padding: 1rem 2rem;
    background-color: var(--white);
    color: var(--dark-blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--font-roboto);
    font-weight: 500;
}

form .submit_btn:hover {
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}

/***** FOOTER SECTION *****/
footer {
    height: 400px;
    background-image: url(../images/background-4.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

footer .container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.columnOne img {
    width: 150px;
}

.columnOne .logoName {
    color: var(--dark-blue);
    font-family: var(--font-roboto);
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.columnOne .footer_socials {
    display: flex;
    flex-wrap: nowrap;
}

.fa-brands.fa-facebook.footer-icons,
.fa-brands.fa-github.footer-icons,
.fa-brands.fa-linkedin.footer-icons {
    width: 40px;
    height: 40px;
    background-color: var(--dark-blue);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
    margin: 1rem 1rem 0 0;
}

.footer_title {
    color: var(--black);
    font-family: var(--font-roboto);
    font-size: 40px;
    font-weight: 600;
    margin: 2rem 0;
}

.footer_menu {
    color: var(--dark-blue);
    font-family: var(--font-roboto);
    font-size: 20px;
    font-weight: 500;
    margin: 1rem 0;
}

.footer_menu:hover {
    color: var(--light-blue);
}

hr {
    color: var(--dark-blue);
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright .copy-text {
    color: var(--black);
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 700;
}

.copyright .copy-subtext {
    color: var(--black);
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 700;
}

.copyright .copy-subtext a {
    color: var(--dark-blue);
    font-size: 18px;
}

.copyright .copy-subtext a:hover {
    color: var(--light-blue);
    font-size: 18px;
}


/********** RESPONSIVENESS STYLE *************/
@media (max-width: 1669px) {
    #hero .container .rightDiv {
        width: 35%;
    }

    .leftDiv .welcome {
        font-size: 2rem;
    }

    .leftDiv .org_name {
        font-size: 5rem;
    }

    .leftDiv .org_subname {
        font-size: 1.5rem;
    }

    .leftDiv .content {
        font-size: 1rem;
    }

    .leftDiv .buttons #join_btn {
        margin-right: 1rem;
    }

    .about_rightDiv img {
        width: 500px;
    }

}

@media (max-width: 1440px) {

    .leftDiv .org_subname {
        font-size: 1.2rem;
    }

    .leftDiv .buttons #join_btn {
        margin-right: 1rem;
        padding: 1rem 2rem;
    }

    .leftDiv .buttons #contact_btn {
        padding: 1rem 2rem;
    }

}

@media (max-width: 1320px) {
    .about_rightDiv img {
        width: 400px;
        height: 590px;
    }

    .about_leftDiv .about_title {
        font-size: 2.5rem;
    }

    .about_leftDiv .button .read_btn {
        font-size: 1rem;
    }
}

@media (max-width: 1210px) {

    #hero .container .leftDiv {
        width: 100%;
        padding: 3rem;
    }

    .leftDiv .org_name {
        font-size: 6rem;
    }

    .leftDiv .org_subname {
        font-size: 1.5rem;
    }

    .leftDiv .content {
        font-size: 1rem;
    }

}

@media (max-width: 1150px) {
    .about_leftDiv .about_title {
        font-size: 2rem;
    }

    .about_leftDiv .content {
        font-size: 0.9rem;
    }

    .about_leftDiv .icons img {
        width: 50px;
    }
}

@media (max-width: 992px) {
    /********* TABLET *********/
    .navbar .links, .navbar .socials {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    #hero .container .leftDiv {
        width: 100%;
    }

    #hero .container .rightDiv {
       display: none;
    }

    .leftDiv .org_name {
        font-size: 5rem;
    }

    .leftDiv .org_subname {
        font-size: 1.5rem;
    }

    .leftDiv .content {
        font-size: 1rem;
    }

    #about {
        height: 100%;
    }

    #about .container .subtitle {
        color: var(--orange);
    }

    #about .container .about_content {
        flex-direction: column-reverse;
    }

    .about_leftDiv {
        width: 100%;
        align-items: center;
        padding: 3rem 5rem;
    }

    .about_leftDiv .about_title {
        margin: 0 0 2rem 0;
    }

    .about_leftDiv .icons {
        justify-content: center;
        gap: 2rem;
    }

    .about_leftDiv .button .read_btn {
        width: 30%;
    }

    .about_rightDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_rightDiv img {
        width: 387px;
        height: 460px;
    }

    #contact {
        height: 100%;
    }

    form .submit_btn {
        margin-bottom: 2rem;
    }

    footer {
        height: 100%;
    }
}

@media (max-width: 694px) { 
    .leftDiv .org_name {
        font-size: 4rem;
    }

    .leftDiv .org_subname {
        font-size: 1rem;
    }

    #events .container .title {
        font-size: 2rem;
    }

    #events .container .subtitle {
        font-size: 1rem;
    }

    #events .container .events {
        width: 80%;
    }

    .events .event img {
        width: 450px;
        height: 300px;
    }

    .events .event .event_title {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) { 
    /********* PHONE *********/
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .leftDiv .welcome {
        font-size: 1.3rem;
    }

    .leftDiv .org_name {
        font-size: 2.5rem;
    }

    .leftDiv .org_subname {
        font-size: 1rem;
    }

    .leftDiv .content {
        font-size: 0.9rem;
    }

    .leftDiv .buttons #join_btn {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    .leftDiv .buttons #contact_btn {
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    /**** ABOUT SECTION *****/

    #about {
        overflow-x: hidden;
    }

    #about .container .title {
        font-size: 2rem;
    }

    #about .container .subtitle {
        font-size: 1rem;
        color: var(--orange);
    }

    #about .container .about_content {
        align-items: center;
    }

    .about_leftDiv {
        width: 85%;
        justify-content: center;
    }

    .about_leftDiv .about_title {
        font-size: 1.5rem;
    }

    .about_leftDiv {
        padding: 0;

    }

    .about_leftDiv .content {
        text-align: center;
    }
    
    .about_leftDiv .icons {
        gap: 0;
    }

    .about_leftDiv .button .read_btn {
        width: 50%;
        font-size: 0.9rem;
    }

    .about_rightDiv {
        width: 85%;
    }

    .about_rightDiv img {
        width: 250px;
        height: 290px;
    }

    /***** EVENTS SECTION *****/
    .events .event img {
        width: 350px;
        height: 200px;
    }

    .events .event .event_title {
        font-size: 1.3rem;
    }

    .events .event .event_desc {
        font-size: 0.9rem;
    }

    .events .event .event_readBtn {
        font-size: 1rem;
    }

    /***** CONTACT SECTION *****/

    #contact {
        height: 100%;
    }

    #contact .container .contact_title {
        font-size: 2rem;
    }

    #contact .container .contact_subtitle {
        font-size: 1rem;
    }

    .contact_content {
        flex-direction: column-reverse;
        width: 95%;
        margin-top: 2rem;
    }

    .contact_leftDiv {
        order: 2;
    }

    .contact_rightDiv {
        order: 1;
    }

    .contact_buttons {
        display: flex;
        justify-content: center;
    }

    .contact_buttons .contact_btn {
        gap: 0;
        margin-right: 1rem;
    }

    .fa-solid.fa-location-dot,
    .fa-solid.fa-phone,
    .fa-solid.fa-envelope, 
    .fa-brands.fa-facebook.contact_icons, 
    .fa-brands.fa-facebook-messenger {
        height: 50px;
        width: 50px;
        font-size: 1rem;
    }

    form .submit_btn {
        margin-bottom: 2rem;
    }

    .contact_buttons .contact_btn:hover h3 {
        display: none;
    }

    /***** FOOTER SECTION *****/
    footer .container {
        flex-direction: column;
        align-items: center;
    }

    .columnOne,
    .columnTwo,
    .columnThree,
    .columnFour {
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    .columnOne img {
        width: 100px;
    }

    .columnOne .logoName {
        font-size: 18px;
    }

    .columnOne .footer_socials {
        justify-content: center;
    }

    .footer_title {
        font-size: 24px;
    }

    .footer_menu {
        font-size: 16px;
        margin: 0.5rem 0;
    }

    .fa-brands.fa-facebook.footer-icons,
    .fa-brands.fa-github.footer-icons,
    .fa-brands.fa-linkedin.footer-icons {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    .columnOne .footer_socials {
        margin: 1rem 0;
    }

    .copyright .copy-text,
    .copyright .copy-subtext,
    .copyright .copy-subtext a {
        font-size: 14px;
    }

    .container > div {
        margin: 1rem 0;
    }
}